@{ ViewData["Title"] = "Edit Crash"; }

@model Crash

<!--Edit Crash form-->
<div class="text-center">
    <h3>Edit Crash</h3>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="Crash_Datetime">Date and Time of Crash (ex. MM-dd-yy HH:mm:ss AM/PM): </label>
        <input asp-for="Crash_Datetime" class="form-control" /><br />

        <label asp-for="Route">Crash Route: </label>
        <input asp-for="Route" class="form-control" /><br />

        <label asp-for="Milepoint">Crash Milepoint: </label>
        <input type="number" asp-for="Milepoint" class="form-control" /><br />

        <label asp-for="Lat_Utm_Y">Latitude of Crash: </label>
        <input type="number" asp-for="Lat_Utm_Y" class="form-control" /><br />

        <label asp-for="Long_Utm_X">Longitude of Crash: </label>
        <input type="number" asp-for="Long_Utm_X" class="form-control" /><br />

        <label asp-for="Main_Road_Name">Main Road of Crash: </label>
        <input asp-for="Main_Road_Name" class="form-control" /><br />

        <label asp-for="City">City of Crash: </label>
        <input asp-for="City" class="form-control" /><br />

        <label asp-for="County_Name">County of Crash: </label>
        <input asp-for="County_Name" class="form-control" /><br />

        <label asp-for="Crash_Severity_Id">Severity of Crash: </label>
        <br />
        <select asp-for="Crash_Severity_Id" class="dropdown">
            <option value="No Injury">No Injury</option>
            <option value="Possible Injury">Possible Injury</option>
            <option value="Suspected Minor Injury">Suspected Minor Injury</option>
            <option value="Suspected Serious Injury">Suspected Serious Injury</option>
            <option value="Fatal">Fatal</option>
        </select>
        <br />


        <label asp-for="Work_Zone_Related">Workzone Related? </label><br />
        <input type="checkbox" asp-for="Work_Zone_Related" /><br /><br />

        <label asp-for="Pedestrian_Involved">Pedestrian Involved? </label><br />
        <input type="checkbox" asp-for="Pedestrian_Involved" /><br /><br />

        <label asp-for="Bicyclist_Involved">Bicyclist Involved? </label><br />
        <input type="checkbox" asp-for="Bicyclist_Involved" /><br /><br />

        <label asp-for="Motorcycle_Involved">Motorcycle Involved? </label><br />
        <input type="checkbox" asp-for="Motorcycle_Involved" /><br /><br />

        <label asp-for="Improper_Restraint">Improper Restraint? </label><br />
        <input type="checkbox" asp-for="Improper_Restraint" /><br /><br />

        <label asp-for="Unrestrained">Unrestrained? </label><br />
        <input type="checkbox" asp-for="Unrestrained" /><br /><br />

        <label asp-for="DUI">DUI? </label><br />
        <input type="checkbox" asp-for="DUI" /><br /><br />

        <label asp-for="Intersection_Related">Intersection Related? </label><br />
        <input type="checkbox" asp-for="Intersection_Related" /><br /><br />

        <label asp-for="Wild_Animal_Related">Wild Animal Related? </label><br />
        <input type="checkbox" asp-for="Wild_Animal_Related" /><br /><br />

        <label asp-for="Domestic_Animal_Related">Domestic Animal Related? </label><br />
        <input type="checkbox" asp-for="Domestic_Animal_Related" /><br /><br />

        <label asp-for="Overturn_Rollover">Overturn or Rollover? </label><br />
        <input type="checkbox" asp-for="Overturn_Rollover" /><br /><br />

        <label asp-for="Commercial_Motor_Veh_Involved">Commercial Motor Vehicle Involved? </label><br />
        <input type="checkbox" asp-for="Commercial_Motor_Veh_Involved" /><br /><br />

        <label asp-for="Teenage_Driver_Involved">Teenage Driver Involved? </label><br />
        <input type="checkbox" asp-for="Teenage_Driver_Involved" /><br /><br />

        <label asp-for="Older_Driver_Involved">Older Driver Involved? </label><br />
        <input type="checkbox" asp-for="Older_Driver_Involved" /><br /><br />

        <label asp-for="Night_Dark_Condition">Night/Dark Conditions? </label><br />
        <input type="checkbox" asp-for="Night_Dark_Condition" /><br /><br />

        <label asp-for="Single_Vehicle">Single Vehicle Involved in Crash? </label><br />
        <input type="checkbox" asp-for="Single_Vehicle" /><br /><br />

        <label asp-for="Distracted_Driving">Distracted Driving Involved? </label><br />
        <input type="checkbox" asp-for="Distracted_Driving" /><br /><br />

        <label asp-for="Drowsy_Driving">Drowsy Driving Involved? </label><br />
        <input type="checkbox" asp-for="Drowsy_Driving" /><br /><br />

        <label asp-for="Roadway_Departure">Roadway Departure Involved? </label><br />
        <input type="checkbox" asp-for="Roadway_Departure" /><br /><br />

        <button class="btn btn-secondary" type="submit">Submit</button>
        <input hidden asp-for="Crash_Id" />
    </form>
</div>
