@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p> Intex Section 3 Group 11</p> <br />

    <img src="~/img/yeet.jpeg" alt="yeet">

    <br />
    <br />

  

    <p>
        Utah has a unique set of challenges when it comes to motor vehicle accidents. As a group,
        we peformed deep data analysis to uncover different insights about how vechicle accidents occur.
        This is relevant because lawmakers need to understand these unique challenges better in order to
        regulate effectively

        

        <br />
        <br />


        This is a website we build using ASP.NET for the purpose of presenting
        the findings we uncovered. We have a database with information about crashes in the state of Utah
        that you can interact with. On top of that, we also included a variety of summaries and predictions
        that you believe will help regulators make better decisions.

        <br />
        <br />

        One thing we recommend no matter what conclusions you get from our data is to
        always wear a seatbelt so you dont get YEETED out your vehicle. Stay lit. Stay Safe.


    </p>
</div>