@{
    ViewData["Title"] = "Home";
}



<div class="container">
    <div class="text-center">
        <div class="row m-1 p-1 text-center">
            <h1>Welcome to Need For Less Speed - Utah</h1>
            <h6>Your Home for Crash Data Analysis</h6>
        </div>
        

        <br />


        <div class="container img-fluid">
            <img src="~/img/yeet.jpeg" alt="yeet">
        </div>
        

        <br />
        <br />

        <div class="container">
            <div class="text-white text-justify">
                <h4>
                    Utah has a unique set of challenges when it comes to motor vehicle accidents.
                </h4>
                <p>
                    Our team has peformed deep data analysis to uncover different insights about how vehicle accidents occur.
                    This is relevant because lawmakers need to understand these unique challenges better in order to
                    regulate effectively.
                </p>
                <p>
                    This is a website we build using ASP.NET for the purpose of presenting
                    the findings we uncovered. We have a database with information about crashes in the state of Utah
                    that you can interact with. On top of that, we also included a variety of summaries and predictions
                    that you believe will help regulators make better decisions.
                </p>
                <p>
                    One thing we recommend no matter what conclusions you get from our data is to
                    always wear a seatbelt so you dont get YEETED out your vehicle.
                </p>
                <h4>
                    Stay lit. Stay Safe.
                </h4>
            </div>

        </div>
        
    </div>
</div>
